<div class="card">
  <div class="card-body">
    <h4 class="card-title">User detail</h4>
    <!--Ak sa edituje-->

    <form *ngIf="isEditing" (ngSubmit)="onSubmit()">
      <!--Kriticke pre vyhladavanie a editovanie-->

      <p>Name: {{ students.name }}</p>
      <p>Surname: {{ students.surname }}</p>

      <p>
        <label>Class:</label>
        <input
          type="text"
          [(ngModel)]="students.classs"
          name="classs"
          required
        />
      </p>

      <p>
        <label>Age:</label>
        <input type="text" [(ngModel)]="students.age" name="surname" required />
      </p>

      <p>
        <label>DOB:</label>
        <input type="date" [(ngModel)]="students.dob" name="surname" required />
      </p>

      <p>
        <label>Gender:</label>
        <select
          type="date"
          [(ngModel)]="students.gender"
          name="gender"
          required
        >
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </p>

      <p>
        <label>Specialization:</label>
        <select
          type="date"
          [(ngModel)]="students.specialization"
          name="specialization"
          required
        >
          <option value="SIE">PDT</option>
          <option value="SIE">SIE</option>
        </select>
      </p>

      <div class="form-group"></div>

      <p>
        <label>Disabled</label>
        <input
          [(ngModel)]="students.disabled"
          type="checkbox"
          name="class"
          required
        />
      </p>

      <p>
        <label>Average:</label>
        <input
          type="number"
          min="0"
          max="5"
          [(ngModel)]="students.average"
          name="class"
          required
        />
      </p>

      <p>
        <label>Awards:</label>
        <input
          type="text"
          [(ngModel)]="students.awards"
          name="class"
          required
        />
      </p>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div class="card-text" *ngIf="!isEditing">
      <p>Name: {{ students.name }}</p>
      <p>Surname: {{ students.surname }}</p>
      <p>Class: {{ students.classs }}</p>
      <p>Age: {{ students.age }}</p>
      <p>DOB: {{ students.dob }}</p>
      <p>Gender: {{ students.gender }}</p>
      <p>Specialization: {{ students.specialization }}</p>
      <p>Average: {{ students.average }}</p>
      <p>Disabled: {{ students.disabled ? 'Yes' : 'No' }}</p>
      <p>Awards: {{ students.awards }}</p>
      <p>Last Edit: {{ students.lastedit }}</p>
    </div>

    <button class="btn btn-danger" (click)="deleteUser()">Delete user</button>
    <button class="btn btn-secondary" (click)="isEditing = !isEditing">
      Edit
    </button>
  </div>
</div>
