<div class="card">
  <div class="card-body">
    <h4 class="card-title">User detail</h4>

    <div class="card-text">
      <p>Name: {{ students.name }}</p>
      <p>Surname: {{ students.surname }}</p>
      <p>Class: {{ students.classs }}</p>
      <p>Age: {{ students.age }}</p>
      <p>DOB: {{ students.dob }}</p>
      <p>Gender: {{ students.gender }}</p>
      <p>Specialization: {{ students.specialization }}</p>
      <p>Average: {{ students.average }}</p>
      <p>Disabled: {{ students.disabled ? 'Yes' : 'No' }}</p>
      <p>Awards: {{ students.awards }}</p>
      <p>Last Edit: {{ students.lastedit }}</p>
    </div>

    <button class="btn btn-danger" (click)="deleteUser()">Delete user</button>
  </div>
</div>
